<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Empresarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="filtro" placeholder="introduce los datos de busqueda">
  </ion-input>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let user of users | async ">

        <ion-col *ngIf="user.full_name.includes(filtro) || filtro == '' " size-xl="2" size-lg="2" size-md="4"
          size-sm="6" size-xs="12">
          <ion-card>
            <ion-card-content>
              <ion-avatar>
                <img src="https://picsum.photos/200/300?random={{user.id}}">
              </ion-avatar>
              <ion-text color="medium">
                <h1>{{user.full_name}} </h1>

                <p>Company: {{user.company}}</p>
                <p>Net worth of company: {{user.net_worth}}</p>
                <p>Industry type: {{user.industry_type}}</p>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ng-container>
    </ion-row>
  </ion-grid>

</ion-content>